* {
    text-align: center;
    padding: 10px;
    background-color: #7FFFD4;
    line-height: 200%;
    text-align: center;
}

html{
  background-color: ivory;
  border: Solid ivory .5px;
  align-items: center;
  padding-top: 10%;
  font-style: italic;
}

button{
  background-color:#c3dfef;
}

p{
  background-color: ivory;
  border: Solid white;
  padding-bottom: 200px;
}

input{
  background-color: ivory;
  font-style: italic;
  font-family: sans-serif;
  border: none;
  width: 100px;
}

form{
  background-color: #7FFFD4;
  border: Solid white .5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

li{
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 0px;
  width: 100%;
}

a{
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  padding-right: 20px;
}

div{
  display: flex;
  position: fixed;
  float: right;
  align-items: center;
  text-align: center;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  font-size: 25px;
  font-weight: lighter;
}

h1{
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
  align-items: center;
  background-color: #7FFFD4;
  font-size: 60px;
  font-style: italic;
  font-family: impact;
  color: black;
}
/* drop menu*/
h2{
  padding: 10px;
}

body{
  background-color: ivory;
}

section{
  padding-left: 30px;
  padding-right: 30px;
}

footer{
  padding-bottom: 3%
}

.input[type=text]{
  display: block;
  align-content: center;
  text-align: center;
}

input[type=text]{
  align-content: center;
  text-align: center;
  width: 80%;
}

menu{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 0px;
  width: 100%;
  background:#AEC245;
}

#menu ul{
  display:grid;
  position:fixed;
  text-align:center;
  width: 100%;
  float: left;
  float: right;
}

#menu li {
	line-height: 4.5em;
	width: 10em;
  text-align: center;
  font-style: italic;
  font-family: impact;
}

#menu li ul {
	position: fixed;
	margin-top:-1em;
	margin-left:.5em;
	display:none;
}

#menu ul li ul {
	margin-top:-3em;
	margin-left:7em;
}

#menu a {
	display:block;
	background: #7FFFD4;
	color: black;
	text-decoration: none;
  color: black;

}

#menu a:hover {
	background-color:ivory;
	color:black;

}
#menu ul {
	border-top:1px solid #fff;
  border: Solid ivory .5px;
}

#menu ul a {
	border-right:none;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	border-left:1px solid #fff;
	background:#AEC245;
}

#menu {
    position:fixed;
    width:620px;
    margin:0 auto;
    margin-top:50px;
    padding:10px;
}

ul#navigation {
  display: flex;
  flex-direction: column;
    margin:0px auto;
    position:relative;
    float:left;
    border-left:1px solid #c4dbe7;
    border-right:1px solid #c4dbe7;
}

ul#navigation li {
    display:inline;
    font-size:12px;
    font-weight:bold;
    margin:0;
    padding:0;
    float:left;
    position:relative;
    border-top:1px solid #c4dbe7;
    border-bottom:2px solid #c4dbe7;
}

ul#navigation li a {
    padding:10px 25px;
    color:#616161;
    text-shadow:1px 1px 0px #fff;
    text-decoration:none;
    display:inline-block;
    border-right:1px solid #fff;
    border-left:1px solid #C2C2C2;
    border-top:1px solid #fff;
    background: #f5f5f5;

    -webkit-transition:color 0.2s linear, background 0.2s linear;
    -moz-transition:color 0.2s linear, background 0.2s linear;
    -o-transition:color 0.2s linear, background 0.2s linear;
    transition:color 0.2s linear, background 0.2s linear;
}

ul#navigation li a:hover {
    background:#f8f8f8;
    color:#282828;
}

ul#navigation li a.first {
    border-left: 0 none;
}

ul#navigation li a.last {
    border-right: 0 none;
}

ul#navigation li:hover > a {
    background:#fff;
}
/* Drop-Down Navigation */
ul#navigation li:hover > ul
{
/*these 2 styles are very important,
being the ones which make the drop-down to appear on hover */
    visibility:visible;
    opacity:1;
}

ul#navigation ul, ul#navigation ul li ul {
    list-style: none;
    margin: 0;
    padding: 0;
/*the next 2 styles are very important,
being the ones which make the drop-down to stay hidden */
    visibility:hidden;
    opacity:0;
    position: absolute;
    z-index: 99999;
    width:180px;
    background:#f8f8f8;
    box-shadow:1px 1px 3px #ccc;
/* css3 transitions for smooth hover effect */
    -webkit-transition:opacity 0.2s linear, visibility 0.2s linear;
    -moz-transition:opacity 0.2s linear, visibility 0.2s linear;
    -o-transition:opacity 0.2s linear, visibility 0.2s linear;
    transition:opacity 0.2s linear, visibility 0.2s linear;
}

ul#navigation ul {
    top: 43px;
    left: 1px;
}

ul#navigation ul li ul {
    top: 0;
    left: 181px; /* strong related to width:180px; from above */
}

ul#navigation ul li {
    clear:both;
    width:100%;
    border:0 none;
    border-bottom:1px solid #c9c9c9;
}

ul#navigation ul li a {
    background:none;
    padding:7px 15px;
    color:#616161;
    text-shadow:1px 1px 0px #fff;
    text-decoration:none;
    display:inline-block;
    border:0 none;
    float:left;
    clear:both;
    width:150px;
}

.invisible{
  display: none;
  margin: 0;
  width: 0;
}

.handleBarMenu{
width: 95%;
display: flex;
}

article{
  background-color: ivory;
  border: Solid white;
  padding-bottom: 200px;
}

#map{
  width: 200px;
}

.temp{
    width: 200px;
}
img{
  margin: 10px;
}
ol{
margin: 10%;
padding: 8%;
}
